-----BEGIN CERTIFICATE-----
MIID5TCCAs2gAwIBAgIJANw1kGjUYAxHMA0GCSqGSIb3DQEBCwUAMIGIMQswCQYD
VQQGEwJHQjELMAkGA1UECAwCQ0IxEjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UE
CgwURmVhdHVyZXNwYWNlIExpbWl0ZWQxEDAOBgNVBAMMB0FSSUMgQ0ExJzAlBgkq
hkiG9w0BCQEWGHN1cHBvcnRAZmVhdHVyZXNwYWNlLmNvbTAeFw0yMjA3MTMxNTE2
NTVaFw0zMjA3MTMxNTE2NTVaMIGIMQswCQYDVQQGEwJHQjELMAkGA1UECAwCQ0Ix
EjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UECgwURmVhdHVyZXNwYWNlIExpbWl0
ZWQxEDAOBgNVBAMMB0FSSUMgQ0ExJzAlBgkqhkiG9w0BCQEWGHN1cHBvcnRAZmVh
dHVyZXNwYWNlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALQO
0e1iY20x0mtmPJ/bR/rVjkxVrULIn5fak6+Wn7xUnabSEbhPMa+UWTAR6eanoNCR
2j6y4MoXG/snolJNqdlb3FhUXvuKlen5CDMo74hK5KT1aWvqI1Y7V0d/OWPFQMN8
yK6y8zshE+vIevmIQmeJLyF1t+HaRA0ZkAdYT7B4sloL3JL46B9pQbQjrCSmz4Ml
iIoPt9/JR2i2cCdRPVkZRhko0SdjY5VoP777twH5PVhsfS/aK15fEQo7qWUjY/4X
+/MMBulri068y5IFKue8znLo4jqtMBe2AbP6Ws0S4iZkNmjp2OA8JN6Izkn9hPBg
NI3R3rrNeaKKLhti2l0CAwEAAaNQME4wHQYDVR0OBBYEFIlEPtYl7cREIYu6YhFC
2vdFOcRxMB8GA1UdIwQYMBaAFIlEPtYl7cREIYu6YhFC2vdFOcRxMAwGA1UdEwQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAGdTgl4GSTL/nsO8Dh0SQZ+FMshEYwf3
X31eRdiJRyh5WwC4HRcfE0d2LXoOqR4xDADY6XY8CQoSKynsoIKaKIFayT4V9Qiy
Vz36rsOdWR6txAnkb8tfdpFQQIJ5fJk2rVMerv/D6wgeQ7gzhHyXFkdgQ4vCzl/p
BincfI6C43Y1pI3CRVoYy8PT6vbB+eraG867J2sLQ2UvCzP3AOoljIZswk1zVxI9
ZpWZD5PQTJA8egW4xQPfUPuasetyLK7r8dNpuX3wzuMC0aT+wz2oGddT1GUYn6cB
5W5z1MKXHnijaac2ZRhcFRnJsuzssXTHNKJCZ2pFGd1dfWE1DgiVyFo=
-----END CERTIFICATE-----
