-----BEGIN CERTIFICATE-----
MIIEgzCCA2ugAwIBAgIVAN7ug3KZ/DhcFs1YFYPqFDPaxJHLMA0GCSqGSIb3DQEB
CwUAMIGIMQswCQYDVQQGEwJHQjELMAkGA1UECAwCQ0IxEjAQBgNVBAcMCUNhbWJy
aWRnZTEdMBsGA1UECgwURmVhdHVyZXNwYWNlIExpbWl0ZWQxEDAOBgNVBAMMB0FS
SUMgQ0ExJzAlBgkqhkiG9w0BCQEWGHN1cHBvcnRAZmVhdHVyZXNwYWNlLmNvbTAe
Fw0yMjA3MTMxNTE5NTNaFw0yNDEwMTUxNTE5NTNaMIGHMQswCQYDVQQGEwJHQjEL
MAkGA1UECAwCQ0IxEjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UECgwURmVhdHVy
ZXNwYWNlIExpbWl0ZWQxDzANBgNVBAMMBmNsaWVudDEnMCUGCSqGSIb3DQEJARYY
c3VwcG9ydEBmZWF0dXJlc3BhY2UuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEA2kFRJBptlcegzRk4e0vLJ15s3ngMdCs/au73cNzOmLqQLoMpwhiu
FUcizCmyxBpU6Rfw7Zo9U/1tGqqXfxkrkmvTC46iSJKbQtWYczSTx6sBXukgL7+E
vE13FLW3EP5TY5XAtECOumYpQbLQrsiR7qCHjzoDUVfJpul1pz4L3UvHx7fNY+J7
+tHLmmD9DqQRsBHqOVVdl1H9B6okqZwkM5Dp9S643ieIOultQ3urJ5rfgc6RNHii
Un49f7fKZLVb2Kz1eAM+6w1uNMKOgafSIeDq8Hodh0ziYSiVdQ1GJMFemvFC/bhV
065TdTdNoD4CCcg8RMHdTVd6pBdDSsD2tQIDAQABo4HiMIHfMB0GA1UdDgQWBBRk
lAFJ9+68tKHroZxpH8+UP23krTCBvQYDVR0jBIG1MIGygBSJRD7WJe3ERCGLumIR
Qtr3RTnEcaGBjqSBizCBiDELMAkGA1UEBhMCR0IxCzAJBgNVBAgMAkNCMRIwEAYD
VQQHDAlDYW1icmlkZ2UxHTAbBgNVBAoMFEZlYXR1cmVzcGFjZSBMaW1pdGVkMRAw
DgYDVQQDDAdBUklDIENBMScwJQYJKoZIhvcNAQkBFhhzdXBwb3J0QGZlYXR1cmVz
cGFjZS5jb22CCQDcNZBo1GAMRzANBgkqhkiG9w0BAQsFAAOCAQEAaFzB9+TP8U/n
ZOPxlZ44lvEkxEy4HXA/mPiwXKrFvDoiT0AUPAnBa18iPs6MxqQ74dOnxfWj1HBX
XRweLR+KVvqZgfr6k305NmWk/A0ugbxJ6yJpklh6pQeUaOuBlagrH3PSKYK55/6t
fuj0Oxma2iw84+csp9M8m/mmzl3cp/Mk5BfG4CnmCkVdKXWIejgauZIoyOChKf2I
C88u2vW7n56g88CP8CtHZca/B/54ijHHEO0H0M6GGI4vpdBQQ1nFlzWEW/NnGfaI
LVXPrXIJ2S+g2ml4FqK5pEgFha07JxG+ln/joArPjTfqmGmvIGuPfZTEIurfTpRK
aAKa/5kFpA==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIID5TCCAs2gAwIBAgIJANw1kGjUYAxHMA0GCSqGSIb3DQEBCwUAMIGIMQswCQYD
VQQGEwJHQjELMAkGA1UECAwCQ0IxEjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UE
CgwURmVhdHVyZXNwYWNlIExpbWl0ZWQxEDAOBgNVBAMMB0FSSUMgQ0ExJzAlBgkq
hkiG9w0BCQEWGHN1cHBvcnRAZmVhdHVyZXNwYWNlLmNvbTAeFw0yMjA3MTMxNTE2
NTVaFw0zMjA3MTMxNTE2NTVaMIGIMQswCQYDVQQGEwJHQjELMAkGA1UECAwCQ0Ix
EjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UECgwURmVhdHVyZXNwYWNlIExpbWl0
ZWQxEDAOBgNVBAMMB0FSSUMgQ0ExJzAlBgkqhkiG9w0BCQEWGHN1cHBvcnRAZmVh
dHVyZXNwYWNlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALQO
0e1iY20x0mtmPJ/bR/rVjkxVrULIn5fak6+Wn7xUnabSEbhPMa+UWTAR6eanoNCR
2j6y4MoXG/snolJNqdlb3FhUXvuKlen5CDMo74hK5KT1aWvqI1Y7V0d/OWPFQMN8
yK6y8zshE+vIevmIQmeJLyF1t+HaRA0ZkAdYT7B4sloL3JL46B9pQbQjrCSmz4Ml
iIoPt9/JR2i2cCdRPVkZRhko0SdjY5VoP777twH5PVhsfS/aK15fEQo7qWUjY/4X
+/MMBulri068y5IFKue8znLo4jqtMBe2AbP6Ws0S4iZkNmjp2OA8JN6Izkn9hPBg
NI3R3rrNeaKKLhti2l0CAwEAAaNQME4wHQYDVR0OBBYEFIlEPtYl7cREIYu6YhFC
2vdFOcRxMB8GA1UdIwQYMBaAFIlEPtYl7cREIYu6YhFC2vdFOcRxMAwGA1UdEwQF
MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAGdTgl4GSTL/nsO8Dh0SQZ+FMshEYwf3
X31eRdiJRyh5WwC4HRcfE0d2LXoOqR4xDADY6XY8CQoSKynsoIKaKIFayT4V9Qiy
Vz36rsOdWR6txAnkb8tfdpFQQIJ5fJk2rVMerv/D6wgeQ7gzhHyXFkdgQ4vCzl/p
BincfI6C43Y1pI3CRVoYy8PT6vbB+eraG867J2sLQ2UvCzP3AOoljIZswk1zVxI9
ZpWZD5PQTJA8egW4xQPfUPuasetyLK7r8dNpuX3wzuMC0aT+wz2oGddT1GUYn6cB
5W5z1MKXHnijaac2ZRhcFRnJsuzssXTHNKJCZ2pFGd1dfWE1DgiVyFo=
-----END CERTIFICATE-----
